.DS_Store
Pods/Pods.xcodeproj/xcuserdata/macibm.xcuserdatad/xcschemes/xcschememanagement.plist
To Do List.xcodeproj/project.xcworkspace/
To Do List.xcworkspace/xcuserdata/
To Do List.xcworkspace/xcuserdata/macibm.xcuserdatad/UserInterfaceState.xcuserstate